body{
    font-family: 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif; 
    font-size: 16px;
    background-color:darkslateblue;
    margin: 0
}
span{
    font-size:1em;
}
button{
    padding:0;
    border:0;
}
svg{
    height:100%;
    width:100%;
}
.topbar, .secondbar{
    background-color: thistle;
    height:2em;
    display:flex;
    justify-content: flex-start;
}
.win-tabs{
    height:2em;
    display:flex;
    justify-content: flex-start;
    flex: 1 1 auto;
}
.win-tabs .win-tab{
    background-color: whitesmoke;
    display:flex;
    justify-content: flex-start;
    flex: 1 1 0;
    max-width: 10em;
    min-width: 5em
}

.win-tabs button, .win-tab button, .search-bar button{
    flex:0 0 2em;
}

.win-tab span{
    flex:1 1 auto;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.win-sizes{
    height:2em;
    display:flex;
    margin-left: 5em;
    justify-content:flex-end;
    flex: 0 0 8em
}
.left-control{
    height:2em;
    display:flex;
    justify-content: flex-start;
    flex: 0 0 8em
}
.right-control{
    height:2em;
    display:flex;
    justify-content:flex-end;
    flex: 0 0 10em
}

.search-bar{
    flex:1 1 auto;
    margin-left: 5em;
    margin-right:5em;
    display:flex;
    justify-content: center;
    height: 2em;
}

.search-bar input{
    flex: 1 1 auto;
    min-width:30em;
}
